h1 {color: red; background-color: #33F933;}
h2 {color: aquamarine; background-color: black;}
h3 {color: lightseagreen; background-color: lavender;}

h1,h2,h3 {font-family: Arial,sans-serif;}

h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.4em;}

p{font-family: Times New Roman,sans-serif; font-size: 1.2em;}

.paragraaf1 {color: red; background-color: #33F933;}
.paragraaf2 {color: aquamarine; background-color: black;}
.paragraaf3 {color: lightseagreen; background-color: lavender}
